<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >



<mapper namespace="com.dfbz.mapper.UserMapper">
    <select id="findAllUser" resultType="user">
    <!--<select id="findAllUser">-->
    SELECT u_id, u_name FROM t_user
</select>

    <!--<insert id="addUser" parameterType="com.dfbz.domain.User">-->
    <insert id="addUser">
        INSERT INTO t_user(uid, uname) VALUES (#{uid}, #{uname});
    </insert>

    <select id="findUserById" resultType="User">
        select * from t_user where u_id = #{dadadadaadada}
    </select>
    
    <select id="findUserByIdAndName" resultType="User">
        select * from t_user where u_id = #{uuu_id} and u_name = #{uuu_name}
    </select>
    
</mapper>